@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your ORder Number is:  @Model<br /><br />
        
    </div>
    <div class="text-center col-12" style="color:maroon">
        <br />
        Your  Order Has been placed successfully ! <br />
    </div>
</div>